.phone-use {
  fill: $grayColor;
}
.menu-toggle {
  background: none;
  border: none;
}

.header {
  @extend %conteiner;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    .active::after {
      content: "";
      border-radius: 2px;
      background: $secondaryColor;
      width: 100%;
      height: 4px;
      position: absolute;
      top: 61px;
      right: 0;
      display: inline-block;
      transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
    .header-link {
      color: $blackColor;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.28px;
      display: block;
      position: relative;
    }

    .contacts-link {
      color: $grayColor;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.28px;
      margin-top: 32px;
    }

    .header-wrap {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .header-modal-svg {
      display: none;
    }
    .header-nav {
      display: flex;
    }
    .contacts-list {
      display: flex;
      flex-direction: column;
    }
    .list-header-nav {
      margin: 0;
      display: flex;
      justify-content: center;
      align-self: center;
      gap: 11px;
    }
  }
  @media screen and (min-width: 1200px) {
    .contacts-link,
    .header-link {
      font-size: 15px;
    }
    .header-wrap {
      width: 800px;
      justify-content: space-between;
    }
    .contacts-list {
      flex-direction: row;
      gap: 30px;
    }
    .list-header-nav {
      gap: 45px;
    }
    .header-item {
      &:hover .header-link {
        color: $secondaryColor;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      }
    }
    .contacts-item {
      &:hover .phone-use {
        fill: $secondaryColor;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      }
      &:hover .contacts-link {
        color: $secondaryColor;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      }
    }
    .header-name {
      &:hover {
        animation: pulse 600ms;
      }
    }
  }
}
.header-wrap {
  display: none;
}
.list-header-nav {
  margin-top: 100px;
}

.header-name {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.web {
  color: $secondaryColor;
}

.phone-header {
  margin-right: 10px;
}

// .contacts-list {
//   display: flex;
//   justify-content: center;
//   align-self: center;
// }

// .list-header-nav,
// .contacts-list {
//   gap: 0px 34px;
// }

// .header-wrap {
//   display: flex;
//   gap: 0px 320px;
// }

// .header-item {
//   position: relative;

// }

// .list-header-nav {
//   font-size: 14px;
//   font-family: Roboto;
//   font-weight: 500;
//   letter-spacing: 0.28px;
//   display: flex;
// }
// .contacts-item{

// }
