body{
    font-family: roboto;
}
.name{
    font-family: ralewey;
    font-weight: 700;
}
a{
    color: black;
    text-decoration: none;
}
.nav{
    font-weight: 500;
}
h1{
    font-weight: 900;
}
button{
    font-weight: 700;
}
h3{
    font-weight: 700;
}
p{
    font-weight: 400;
}
h2{
    font-weight: 700;
}
footer>a:not(.name){
    font-weight: 400;
}

.port_nav {
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

.button {
    font-weight: 500;
}
.web{
    color: blue;
}