%btn {
  background-color: $secondaryColor;
  color: $whiteColor;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  border: none;
}
%conteiner {
  width: 100vw;
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
