.banner {
  width: 100%;
  background-image: url(../img/banner-bg-mobile.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: 100vw auto;
  background-repeat: no-repeat;

  @media screen and (max-width: 400px) {
    .banner-wrap {
      padding-bottom: 0;
      padding-top: 15px;
    }

    .banner-tytle {
      font-size: 21px;
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../img/banner-bg-tablet.jpg);

    .banner-wrap {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../img@2x/banner-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1000px) {
    background-image: url(../img/img_bg.jpg);

    .banner-wrap {
      padding-top: 75px;
      padding-bottom: 72px;
    }

    .banner-tytle {
      font-size: 44px;
      width: 700px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(img@2x/banner-bg@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../img/img_bg.jpg);

    .banner-wrap {
      padding-top: 103px;
      padding-bottom: 115px;
    }

    .banner-tytle {
      font-size: 44px;
      width: 700px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(img@2x/banner-bg@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../img@2x/banner-bg-mobile@2x.jpg);

  }
}

.banner-wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  @extend %conteiner;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-tytle {
  @include title($whiteColor, 26px, 1.36, 900);
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 80vw;
  text-align: center;
  margin-left: 30px;
}

.banner-btn {
  @extend %btn;
  width: 216px;
  height: 50px;

  &:hover {
    animation: heartBeat 2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}