.banner {
  width: 100%;
  background-image: url(../img/img_bg.jpg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    background-size: 100vw 340px;
  }
  @media screen and (min-width: 768px) {
    .banner-wrap {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  @media screen and (min-width: 1200px) {
    .banner-wrap {
      padding-top: 175px;
      padding-bottom: 175px;
    }
    .banner-tytle {
      font-size: 44px;
      width: 700px;
    }
  }
}
.banner-wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  @extend %conteiner;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-tytle {
  @include title($whiteColor, 26px, 1.36, 900);
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 80vw;
  text-align: center;
  margin-left: 30px;
}

.banner-btn {
  @extend %btn;
  width: 216px;
  height: 50px;

  &:hover {
    animation: heartBeat 2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
