.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 85vw;
  height: 610px;
  border-radius: 4px;
  background: $whiteColor;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scaleY(0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 40px;
  &.open {
    animation-name: modalOpen;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
  }
  &.close {
    animation-name: modalClose;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
    .modal-label {
      height: 30px;
    }
    .modal-text-input {
      height: 150px;
    }
  }
}

.modal-close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $whiteColor;
  margin: 8px 8px 0 0;
  padding: 6px 7px 7px 6px;
  align-self: end;
  display: flex;
  align-items: center;
  // &:hover .modal-close-svg {
  //   fill: $secondaryColor;
  //   transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  //   animation: heartBeat 2s cubic-bezier(0.4, 0, 0.2, 1);
  // }
  // &:hover {
  //   animation: heartBeat 2s cubic-bezier(0.4, 0, 0.2, 1);
  // }
}
.modal-svg {
  margin: 9px 12px 0 12px;
}

.modal-text {
  color: $blackColor;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.modal-form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-text-input {
  width: 100%;
  height: 120px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-checkbox {
  display: flex;
}

.checkbox-link {
  color: $secondaryColor;
  text-decoration: underline;
}

.checkbox-text {
  color: rgba(117, 117, 117, 1);
  margin-left: 5px;
}

.modal-input {
  border: none;
  outline: none;
  width: 80%;
  height: 40px;
}

.modal-text-label:focus-within {
  animation: fadeIn 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  &:focus-within {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    border-radius: 4px;
    outline: 1px solid $secondaryColor;
  }
  &:focus-within .modal-svg {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    border-radius: 4px;
    fill: $secondaryColor;
    animation: heartBeat 2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.modal-send {
  @extend %btn;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  align-self: center;
  // &:hover {
  //   animation: flash 2s cubic-bezier(0.4, 0, 0.2, 1);
  // }
}
