.people {
  margin-top: 94px;
  padding-top: 94px;
  background: $peopleSectionBgColor;
  padding-bottom: 188px;
  @media screen and (min-width: 768px) {
    .people-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .people-item {
      width: 48%;
      height: auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .people-item {
      width: 285px;
    }
  }
}

.people-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
}
.people-wrap {
  @extend %conteiner;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.people-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: $whiteColor;
  width: 80%;
  height: 428px;
  gap: 30px;
}

.people-tytle {
  @include title($blackColor, 36px, normal, 700);
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.list-people-name {
  color: $blackColor;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.list-people-image {
  width: 100%;
  height: auto;
}
.list-people-job {
  color: $grayColor;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.people-svg-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
}

.svg-hover {
  padding: 15px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people-use {
  fill: rgba(175, 177, 184, 1);
}
