.work {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .work-tytle {
      @include title($blackColor, 36px, normal, 700);
      letter-spacing: 1.08px;
    }

    .work-list {
      display: flex;
      justify-content: center;
      gap: 0px 30px;
    }

    .work-item,
    .work-img {
      position: relative;
      width: 321px;
      height: 294px;
    }

    .work-bg {
      background: rgba(47, 48, 58, 0.8);
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
    }

    .work-text {
      color: $whiteColor;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }
  }
  @media screen and (min-width: 1200px) {
    .work-item,
    .work-img {
      width: 360px;
    }
  }
}
